server:
  port: ${PORT:8080}

spring:
  redis:
    host: localhost
    port: 6379
    timeout: 2000ms


#spring:
#  datasource:
#    url: jdbc:h2:mem:testdb
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#  jpa:
#    hibernate:
#      ddl-auto: create-drop
#  redis:
#    host: none
#    port: 0
